spring:
  application:
    name: prescription-svc

  datasource:
    url: "jdbc:mysql://localhost:3306/prescription-svc?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true"
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
      jdbc:
        time_zone: UTC
  thymeleaf:
    cache: false

server:
  port: 8081

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    rg.springframework.web: DEBUG
    org.springframework.web.servlet: DEBUG
